/*!
 * Universal styling for luke-zhang-04.github.io
 * Includes Bootstrap SASS, and other styles that apply to all pages
 */
@use "variables";

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: $light;
  color: $dark;
  overflow: hidden !important;
}

html{
  min-width: 40rem;
  min-height: 30rem;
}
  
html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
